body { padding: 0; margin: 0; background-color: #0B1A40; }
h1 { color:rgb(167, 167, 167); }
h2 { color: rgb(82, 82, 82) }
a { color: rgb(82, 82, 82) }
.subtext { color:rgb(82, 82, 82)  }
.sublink { color:rgb(82, 82, 82)  }